Checks:
  - -*

  - bugprone-*
  - -bugprone-exception-escape

  - cert-*
  - -cert-err58-cpp
  - -cert-str34-c

  - clang-analyzer-*
  - clang-diagnostics-*
  - concurrency-*

  - cppcoreguidelines-*
  - -cppcoreguidelines-avoid-non-const-global-variables
  - -cppcoreguidelines-pro-bounds-constant-array-index
  - -cppcoreguidelines-pro-bounds-pointer-arithmetic
  - -cppcoreguidelines-pro-type-reinterpret-cast

  - hicpp-*
  - -hicpp-explicit-conversions
  - -hicpp-no-assembler
  - -hicpp-signed-bitwise

  - misc-*
  - -misc-include-cleaner
  - -misc-use-anonymous-namespace

  - modernize-*
  - -modernize-use-std-numbers

  - performance-*

  - readability-*
  - -readability-identifier-naming
  - -readability-function-cognitive-complexity
  - -readability-identifier-length
  - -readability-math-missing-parentheses

  - -*-avoid-c-arrays
  - -*-magic-numbers

WarningsAsErrors: "*"
FormatStyle: file
HeaderFileExtensions: ["hpp"]
ImplementationFileExtensions: ["cpp"]
ExcludeHeaderFilterRegex: "(.*/3rd_party/*)"
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 4
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: true
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMemberCase
    value: camelBack
  - key: readability-identifier-naming.ClassMethodCase
    value: camelBack
  - key: readability-identifier-naming.ClassConstantCase
    value: camelBack
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: 1
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.PrivateMethodCase
    value: camelBack
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: camelBack
